

.App {
  text-align: center;
  background-color: black;
  height: 100%;
  width: 100%;
  min-width: 10%;
}



.App-header {
  min-height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: whitesmoke;
  height: 30%;
  position: static;
  top: 0;
  left: 0;
  min-width: 100vw;
  width: auto;
  width: 100%;
  z-index: 2;
  text-align: center;
  background-color: black;
  gap: 20px;
}

.App-header img {
  width: 150px;
  margin-top: 20px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.App-header img:hover {
  transform: scale(1.1);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0px;
  margin-top: 30px;
}


